In [179]:
import requests
import pandas as pd
import json
from datetime import datetime, timezone
from sqlalchemy import create_engine
from bs4 import BeautifulSoup

In [180]:
event_id = ['3857165','3754563','3898654','3855914','3897660','3912847']
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36'}

In [181]:
event_url = 'https://www.vividseats.com/production/'
urls = []
for event in event_id:
    url = event_url+event
    urls.append(url)

In [182]:
event_requests = []

for url in urls:
    event_request = requests.get(url, headers=headers)
    er = event_request.text
    event_requests.append(er)

In [183]:
soups = []

for er in event_requests:
    soup = BeautifulSoup(er, 'html.parser')
    event_info = soup.find('script', attrs={'type':'application/json'})
    ei = json.loads(event_info.text)
    soups.append(ei)

In [184]:
detail = []

for ei in soups:
    details = ei['props']['pageProps']['initialProductionDetailsData']['data']
    detail.append(details)

In [186]:
event_details = {
    'name':[],
    'venue':[],
    'vs_event_id':[],
    'listingCount':[],
    'ticketCount':[],
    'minPrice':[],
    'maxPrice':[],
    'eventDate':[],
    'currentDate':[]
}

for event in detail:
    event_details['name'].append(event['name'])
    event_details['venue'].append(event['venue']['name'])
    event_details['vs_event_id'].append(event['id'])
    event_details['listingCount'].append(event['listingCount'])
    event_details['ticketCount'].append(event['ticketCount'])
    event_details['minPrice'].append(event['minPrice'])
    event_details['maxPrice'].append(event['maxPrice'])
    event_details['eventDate'].append(event['localDate'][0:10])
    event_details['currentDate'].append(datetime.now(timezone.utc).strftime("%Y-%m-%d"))

In [188]:
event_df = pd.DataFrame(event_details)

In [189]:
event_df

,name,venue,vs_event_id,listingCount,ticketCount,minPrice,maxPrice,eventDate,currentDate
0,Keshi,Cervantes Masterpiece and The Other Side,3857165,51,289,36,458,2022-06-04,2022-04-17
1,Coldplay,MetLife Stadium,3754563,527,2596,72,2164,2022-06-05,2022-04-17
2,UMI,Fonda Theatre,3898654,74,261,32,7502,2022-06-06,2022-04-17
3,Keshi (Moved from Showbox at the Market),Showbox SODO,3855914,49,211,97,7502,2022-06-09,2022-04-17
4,UMI,The Observatory Santa Ana,3897660,62,212,41,181,2022-06-09,2022-04-17
5,Chris Rock,Taft Theatre,3912847,286,782,63,1604,2022-06-10,2022-04-17

In [190]:
engine = create_engine('mysql+mysqldb://USERNAME:PASSWORD@HOST/DATABASE?charset=utf8')

In [191]:
event_df.to_sql('event_details', engine, if_exists='append', index=False)