In [56]:
import requests
import pandas as pd
import json
from datetime import datetime, timezone
from sqlalchemy import create_engine
from bs4 import BeautifulSoup

In [57]:
event_id = ['3855914','3897660','3912847','3838061','3873578','3869589','3855658','3845915','3855657','3849613','3846005']
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36'}

In [58]:
event_url = 'https://www.vividseats.com/production/'
urls = []
for event in event_id:
    url = event_url+event
    urls.append(url)

In [59]:
event_requests = []

for url in urls:
    event_request = requests.get(url, headers=headers)
    er = event_request.text
    event_requests.append(er)

In [60]:
soups = []

for er in event_requests:
    soup = BeautifulSoup(er, 'html.parser')
    event_info = soup.find('script', attrs={'type':'application/json'})
    ei = json.loads(event_info.text)
    soups.append(ei)

In [61]:
detail = []

for ei in soups:
    details = ei['props']['pageProps']['initialProductionDetailsData']['data']
    detail.append(details)

In [62]:
event_details = {
    'name':[],
    'venue':[],
    'vs_event_id':[],
    'listingCount':[],
    'ticketCount':[],
    'minPrice':[],
    'maxPrice':[],
    'eventDate':[],
    'currentDate':[]
}

for event in detail:
    event_details['name'].append(event['name'])
    event_details['venue'].append(event['venue']['name'])
    event_details['vs_event_id'].append(event['id'])
    event_details['listingCount'].append(event['listingCount'])
    event_details['ticketCount'].append(event['ticketCount'])
    event_details['minPrice'].append(event['minPrice'])
    event_details['maxPrice'].append(event['maxPrice'])
    event_details['eventDate'].append(event['localDate'][0:10])
    event_details['currentDate'].append(datetime.now(timezone.utc).strftime("%Y-%m-%d"))

In [63]:
event_df = pd.DataFrame(event_details)

In [64]:
event_df

,name,venue,vs_event_id,listingCount,ticketCount,minPrice,maxPrice,eventDate,currentDate
0,Keshi (Moved from Showbox at the Market),Showbox SODO,3855914,45,212,103,7502,2022-06-09,2022-04-21
1,UMI,The Observatory Santa Ana,3897660,63,229,41,224,2022-06-09,2022-04-21
2,Chris Rock,Taft Theatre,3912847,261,686,60,1604,2022-06-10,2022-04-21
3,Jimmy Buffett,Moody Center ATX,3838061,683,2507,16,19626,2022-06-11,2022-04-21
4,HER - Gabi Wilson,Dailys Place Amphitheater,3873578,228,1516,40,1053,2022-06-12,2022-04-21
5,Paul McCartney,MetLife Stadium,3869589,1023,3180,107,8422,2022-06-16,2022-04-21
6,Keshi,The Observatory Santa Ana,3855658,52,248,95,674,2022-06-17,2022-04-21
7,Rex Orange County,BMO Harris Pavilion,3845915,299,1403,44,758,2022-06-17,2022-04-21
8,Keshi,The Observatory North Park,3855657,42,207,94,674,2022-06-18,2022-04-21
9,Dave Matthews Band,Ruoff Home Mortgage Music Center,3849613,227,1119,63,1238,2022-06-24,2022-04-21
10,Rex Orange County,Huntington Bank Pavilion at Northerly Island,3846005,346,1147,50,8421,2022-06-24,2022-04-21

In [65]:
engine = create_engine('mysql+mysqldb://USERNAME:PASSWORD@HOST/DATABASE?charset=utf8')

In [66]:
event_df.to_sql('event_details', engine, if_exists='append', index=False)